body{
  background-color: pink;
  margin: 0% 10%;
  scroll-behavior: smooth;
 
}
h1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 2px 5px red;
	font-size: 70px;
	text-decoration: underline;
	position: relative;
	bottom: 30px;

}
div.imform{
	
	text-decoration-color: blue;
	font-size: 30px;

}
form{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 2px 5px green;
	font-size: 30px;
	text-decoration: underline;
	position: relative;
	bottom: 30px;
	line-height: 1.5;
	border: 5px solid brown;
	padding-top: 5%;
	padding-left: -50%;
	padding-right: -50%;
	margin-top: 100px;
	
}
input#submit{
	font-size: 40px;
	color:red;
	line-height: 1;
}